#main{
    font-family: Lobster;
    color: rgba(0,0,0,0.8);
    font-size: 1.5em;
    min-height: 300px;
    background: LightGray;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px auto auto auto;
    grid-gap: 50px;
    grid-template-areas:
      "header"
      "image"
      "content"
      "footer";
}
#header{
   grid-area: header;
}
#title{
 text-align: center;
}
#img-div{
 // width: 95%;
  margin: auto;
  background: url(https://cdn-media-1.freecodecamp.org/imgr/MJAkxbh.png);
  grid-area: image;
  
}
#image{
  max-width: 840px; 
  width: 90%;
  height: auto;
	margin: auto;
  display: block;
  position: relative;
  top: 20px;
  border: 10px solid rgba(0,0,0,19%) ;
  border-radius: 7px;
  
}
#img-caption{
  text-align: center;
  margin-top: 20px;
  padding: 10px;
}
#content{
  margin: auto;
  background-color: hsl(150,0%,86%);
  border: 1px solid #ccc;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.19), 0px 6px 6px rgba(0,0,0,0.23);
  grid-area: content;
}
#tribute-info{
  text-align: center;
  padding-top:1.5em;
}
#list{
 
  padding-bottom: 2em;
  line-height: 1.5em;
  font-family: sans-serif;
}
#footer{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  grid-area: footer;
}
#tribute-link{
}
